<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="layout/head"></div>
</head>

<div th:replace="layout/menumoduly"></div>

<h1>Administracja</h1><br>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a sec:authorize="isAuthenticated()" th:href="@{/} ">Start</a></li>
        <li class="breadcrumb-item"><a sec:authorize="isAuthenticated()" th:href="@{/administracja/administracja} ">Administracja</a></li>
        <li class="breadcrumb-item"><a sec:authorize="isAuthenticated()" th:href="@{/administracja/taryfy} ">Taryfy</a></li>
        <li class="breadcrumb-item active" aria-current="page">Aktualizowanie Taryf</li>
    </ol>
</nav>

<h2>Aktualizowanie Taryfy</h2><br>


<form action="#" th:action="@{/zapiszTaryfe}" th:object="${taryfy}" method="POST">
    <input type="hidden" th:field="*{idtaryfa}" class=" form-control mb-4 col-4">
    <input type="text" th:field="*{nazwa}" placeholder="Nazwa" class=" form-control mb-4 col-4">
    <input type="text" th:field="*{opis}" placeholder="Opis" class=" form-control mb-4 col-4">
    <button type="submit" class="btn btn-info col-2">Aktualizuj Taryfę</button>
</form>


</div>


</html>