<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="layout/head"></div>
</head>

<div th:replace="layout/menumoduly"></div>

<h1>Dział techniczny</h1><br>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a sec:authorize="isAuthenticated()" th:href="@{/} ">Start</a></li>
        <li class="breadcrumb-item"><a sec:authorize="isAuthenticated()" th:href="@{/administracja/administracja} ">Administracja</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Taryfy</li>
    </ol>
</nav>

<h2>Typy statków</h2><br>

<div>
    <a class="btn btn-success" th:href="@{/ZobaczNoweTaryfyForm}" role="button">Dodaj</a>
</div>


<div>
    <h1 align="center"> Lista wszytskich taryf</h1>
</div>

<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Opis</th>
            <th scope="col">Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="taryfy : ${listaTaryf}">
            <td th:text="${taryfy.idtaryfa}">ID</td>
            <td th:text="${taryfy.nazwa}">Nazwa</td>
            <td th:text="${taryfy.opis}">Opis</td>



            <td><a th:href="@{/pokazFormTaryfaAktualizacja/{id}(id=${taryfy.idtaryfa})}"><i
                    class="fas fa-edit"></i></a>
                <a th:href="@{/usunTaryfe/{id}(id=${taryfy.idtaryfa})}"><i
                        class="fas fa-trash-alt"></i></a></td>


        </tr>
        </tbody>
    </table>

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="inputGroupSelect01">Options</label>
        </div>
        <select class="custom-select" id="inputGroupSelect01">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>



    <!--
        <select >
            <option th:each="taryfy: ${listaTaryf}"
                    th:value="${taryfy.idtaryfa}"
                    th:text="#{${taryfy.nazwa}}"/>
        </select>
    -->


</div>


</html>